.container {

    .titulo-comentarios{
        text-align: center;
        color: white;
        padding: 50px;
        font-size: 40px;
    }

    .fotos-comentarios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 1.5rem;
        gap: 1.5rem;
    }
    
    .comentario1{
        border-radius: 2rem;
    }

    .comentario2{
        border-radius: 2rem;
    }

    .comentario3{
        border-radius: 2rem;
    }

}