.container{

    .titulo-nosotros{
        text-align: center;
        color: white;
        padding: 80px;
        font-size: 40px;
    }

    .ubicacion{
        display: flex;
        justify-content: center;
    }
    
    .mapa{
        border-radius: 2rem;
        padding: 20px;
    }

}