.container{

    .titulo-productos{
        text-align: center;
        color: white;
        padding: 70px;
        font-size: 30px;
    }

}

.img-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;

    .cafe{
        text-align: center;
        color: white;
        padding: 0px;
    }
    
    .cafe h2{
        font-size: 25px;
    }
    
    .cafe img{
        border-radius: 1rem;
    }

}