.container{

    .titulo-productos{
        text-align: center;
        color: white;
        padding: 50px;
        font-size: 60px;
    }

}

.card-title{
   text-align: center;
   font-size: 2rem;
}